apiVersion: apps/v1
kind: Deployment
metadata:
  name: webgoat
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webgoat
  template:
    metadata:
      labels:
        app: webgoat
    spec:
      containers:
        - name: webgoat
          image: webgoat/webgoat-8.0
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: webgoat
spec:
  selector:
    app: webgoat
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
